* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

section {
  position: relative;
  text-align: center;
  height: 80%;
  min-height: 300px;
  max-height: 800px;
}

::scrollbar {
  display: none;
}

.ccc {
    background-color: transparent;
}

.cgsr {
    background-color: transparent;
}


.dot {
    background-color: transparent;
}

.btn {
    font-size: 1em;
    border: 0;
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
    transition: 0.2s box-shadow, 0.2s -webkit-transform;
    -webkit-box-shadow: 3px 5px 0 #31beffb0;
    -moz-box-shadow: 3px 5px 0 #31beffb0;
    box-shadow: 3px 5px 0 #31beffb0;
}

.behance {
    color: #3678ab;
    background-color: transparent;
    border: 1px solid #3678ab;
}

.medium {
    color: #3678ab;
    border: 1px solid #3678ab;
    background-color: transparent;
}

.prototype {
    background-color: transparent;
    border: 1px solid #3678ab;
    color: #3678ab;
}

.btn:hover {
    -webkit-box-shadow: 0px 0px 0 #2082afb0;
    -moz-box-shadow: 0px 0px 0 #2082afb0;
    box-shadow: 0px 0px 0 #2082afb0;
}

p {
    margin: 0;
}

.cardimg {
    padding-top: 80px;
}

.dotCard {
    padding-top: 50px;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
    padding: 10px 30px;
    color: #3678ab;
}

.heroimg {
    position: relative;
    width:650px;
    margin: 0 auto;
    padding-bottom: 200px;

}

.dotImg {
    padding-bottom: 145px;
}

.imac {
    position:absolute;
    top: 45px;
    right: 11px;

}

header {
    width: 100%;
    /* background: rgba(16, 103, 161, 0.8); */
    background: transparent;
    color: white;
    padding: 5px 10px 5px 10px;
    position: fixed;
    left: 0;
    z-index: 999;
}

.bottom {
    bottom:0;
}

h1 {
    padding: 10px 30px 10px 0px;
    margin: 0;
    font-size: 1em;
    text-align: left;
}

h3 {
    margin:0;
    font-size: .6em;
    font-weight: 300;
    text-align: left;
}

.topShadow {
    width: 110%;
    height:100px;
    position:fixed;
    top: -100px;
    left: -5%;
    background: transparent;
    -webkit-box-shadow: 0px 30px 60px #3678ab;
    -moz-box-shadow: 0px 30px 60px #3678ab;
    box-shadow: 0px 30px 60px #3678ab; 
    z-index: -10;
}

.btmShadow {
    width: 110%;
    height:100px;
    position:fixed;
    bottom: -100px;
    left: -5%;
    background: transparent;
    -webkit-box-shadow: 0px -5px 40px #3678ab; 
    -moz-box-shadow: 0px -5px 40px #3678ab; 
    box-shadow: 0px -5px 40px #3678ab; 
    z-index: -10;
}

@media screen and (max-height: 960px) {
    .heroimg {
        padding-bottom: 130px;
    }
    .dotImg {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 767px), (max-height: 867px) {
    .heroimg {
        width: 250px;
        padding-bottom: 15vh;
    }
    .dotImg {
        padding-bottom: 8vh;
    }
    .imac {
        width: 250px;
        top:66px;
        right:2px;
    }
    .cardimg {
        width: 235px;
    }

    .btn {
        font-size: .8em;
    }

    section {
        position: relative;
        text-align: center;
        height: 80%;
        min-height: 300px;
        max-height: 500px;
      }

    h2 {
        font-size: 1em;
    }

}

@media screen and (max-height: 530px) {
    .cardimg {
        padding-top:25px;
    }
    .dotCard {
        padding-top: 10px;
    }
    h2 {
        margin:0;
        font-weight: 400;
    }
    .imac {
        top:11px;
    }
}
